extends layout

block content
    h1= title

    ul
        each author in author_list
            li
                a(href=author.url) #{author.name}
                | (#{moment(author.date_of_birth).format('YYYY')} - #{moment(author.date_of_death).format('YYYY')})

        else
            li There are no authors.